*{
 margin:0;
 padding:0;
 box-sizing: border-box;
 font-family:"poppin",sans-serif
}
body{
 background: #dfe9f5;
}
.wrapper{
 width:330px;
 padding: 50px;
margin:50px auto;
 background-color:#fff;
border:radius 10px;
text-align: left;
box-shadow: 0 20px 35px  rgba(0, 0, 0, 0.1);
}
h2{
 font-size: 2rem;
color: #07001f;
margin-bottom: 1.2rem;
text-align: center;
}
/* form input{
 width: 92%;
 outline: none;
 border: 1px solid #fff;
 padding: 50px;
 margin-bottom: 10px;
 background: #e4e4e4;
} */
button{
 font-size: 1rem;
 margin-top: 1.8rem;
 padding: 10px 0;
 border-radius: 20px;
 outline: none;
 border: none;
 width: 90%;
 color: #fff;
 cursor: pointer;
 background: rgb(17, 107, 143);
 text-align: center;
}
button:hover{
background: rgba(17, 107, 143, 0.887);
}
input:focus{
 border: 1px solid rgb(192, 192, 192);
}
.term label{font-size: 0.8rem;
}
.term a{
 text-decoration: none;
}